body{
    margin:0;
    background:#0b0b2a;
    font-family:Arial, Helvetica, sans-serif;
}

.contenedor{
    display:flex;
    height: 10rem;
}

.menu{
    max-width:300px;
    height:50rem;
    background:#19144a;
    border-radius:0 45px 45px 0;
    padding:30px 12px;
    display:flex;
    flex-direction:column;
}

.titulo{
    background:#7b1d1d;
    color:#0d00be;
    text-align:center;
    padding:16px 10px;
    border-radius:40px;
    font-weight:bold;
    font-size:30px;
    margin-bottom:50px;
    text-shadow: 0 0.2rem 0.1rem #00aaff;
}

.zona-botones{
    display:flex;
    gap:6px;
}

.columna-botones{
    display:flex;
    flex-direction:column;
    gap:12px;
}

.btn{
    width:250px;
    height:100px;
    background:#4b2aa6;
    border:none;
    border-radius:22px;
    color:white;
    font-weight:bold;
    font-size:12px;
    letter-spacing:2px;
    cursor: pointer;
    transition: 0.2 ease;
}

.btn:hover{
    background: #b39cff;
}
.btn:active{
    transform: scale(0.96);
}

.barra-flechas{
    width:50px;
    height:500px;
    background:#2b1a6b;
    border-radius:0 18px 18px 0;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
}

.barra-flechas{
    color:#9aa0ff;
    font-size:12px;
    font-weight:bold;
    cursor: pointer;
    transition: 0.2 ease;
}
.barra-flechas:hover{
    color:#ffffff
}
.barra-flechas:active{
    transform:scale(0.9);
}

.footer{
    margin-top:auto;
    display:flex;
    justify-content:space-between;
    padding-top:20px;
}

.btn-volver,
.btn-user{
    width:60px;
    height:30px;
    background:#5a0f0f;
    border:none;
    border-radius:10px;
    color:white;
    cursor: pointer;
    transition: 0,2s;
}

.btn-volver:hover,
.btn-user:hover{
    background: #7b1d1d;
    
}
.btn-volver:active,
.btn-user:active{
    transform:scale(0.95);
}

.oso{
    font-size: 600px;
    padding: 5px 400px 5px 300px;
    float: center;
}
